@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'PT Serif';
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
}

.section-p1 {
  padding: 40px 60px;
}

.section-m1 {
  margin: 40px 0;
}

.hidden {
  display: none;
}

.content {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-content {
  width: 20%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #5A639C;
  border-right: 1px solid #5A639C;
  padding: 10px 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: sticky;
  top: 0;
  left: 0;

  .search {
    display: flex;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: white;
    margin: 2rem;

    input {
      outline: none;
      border: none;
      width: 100%;
      color: black;
      font-family: "Playwrite IS", cursive;
    }

    input::placeholder {
      color: gray;
      text-align: center;
      font-family: "Playwrite IS", cursive;
    }
  }

  .previous {
    color: white;
    text-align: right;
    margin-right: 30px;
    font-size: 20px;
  }

  .nav-bar {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #5A639C;


    li {
      padding: 10px;
      text-align: center;
      margin-bottom: 2rem;
      width: 100%;
      position: relative;

      a {
        text-decoration: none;
        color: white;
        font-family: "Playwrite IS", cursive;
      }
    }

    li:hover {
      background-color: #7776B3;

      a {
        color: #F19ED2;
      }
    }

    li.active::after,
    li:hover::after {
      content: "";
      width: 30%;
      height: 2px;
      background: #9B86BD;
      position: absolute;
      bottom: 8px;
      left: 8.5em;
      transition: 0.5s;
      animation: nav 1.5s ease;
    }

  }

  img {
    width: 100px;
    border: 1px solid #9B86BD;
    border-radius: 100%;
    align-self: center;
  }

  p {
    text-align: center;
    color: white;
    font-family: "Playwrite IS", cursive;
  }

  p:hover {
    color: #FFB1B1;
    transition: 0.3s;
  }
}

.main-content {
  width: 100%;
  overflow-y: scroll;
}

@keyframes nav {
  from {
    left: 0;
  }

  to {
    left: 8.5em;
  }
}

/* =======================================================================================================Media========================================================================= */




/* 
@media screen and (max-width: 1440px) {

  .left-content {
    & .nav-bar {

      li.active::after,
      li:hover::after {
        width: 50%;
        left: 5em;
      }
    }
  }

  @keyframes nav {
    from {
      left: 0;
    }

    to {
      left: 3.5em;
    }
  }
} */

@media screen and (min-width: 1366px) {
  .left-content {
    & .nav-bar {

      li.active::after,
      li:hover::after {
        content: "";
        width: 60%;
        left: 3em;
      }
    }
  }

  @keyframes nav {
    from {
      left: 0;
    }

    to {
      left: 3em;
    }
  }
}

@media screen and (min-width: 1900px) {
  .left-content {
    & .nav-bar {

      li.active::after,
      li:hover::after {
        width: 45%;
        left: 5.5em;

      }
    }
  }

  @keyframes nav {
    from {
      left: 0;
    }

    to {
      left: 5.5em;
    }
  }
}

@media screen and (min-width: 2560px) {
  .left-content {
    & .nav-bar {

      li.active::after,
      li:hover::after {
        width: 40%;
        left: 8.5em;

      }
    }
  }

  @keyframes nav {
    from {
      left: 0;
    }

    to {
      left: 8.5em;
    }
  }
}

@media screen and (max-width: 1024px) {
  .left-content {
    width: 40%;
  }

  .left-content {
    & .nav-bar {

      li.active::after,
      li:hover::after {
        width: 50%;
        left: 4.5em;
      }
    }
  }

  @keyframes nav {
    from {
      left: 0;
    }

    to {
      left: 4.5em;
    }
  }
}

@media screen and (max-width: 768px) {
  .left-content {
    width: 50%;
  }

  .left-content {
    & .nav-bar {

      li.active::after,
      li:hover::after {

        left: 3.5em;
      }
    }
  }

  @keyframes nav {
    from {
      left: 0;
    }

    to {
      left: 4.5em;
    }
  }
}

@media (max-width:480px) {

  .content {
    flex-direction: column;
  }

  .left-content {
    width: 100%;
    border-radius: unset;
    position: fixed;
    top: 0;
  }

  .left-content {
    & .nav-bar {

      li.active::after,
      li:hover::after {
        left: 6.5em;
      }
    }
  }

  .main-content {
    width: 100%;
    overflow-y: unset;
  }

  @keyframes nav {
    from {
      left: 0;
    }

    to {
      left: 6.5em;
    }
  }
}

@media screen and (max-width: 425px) {
  .left-content {
    & .nav-bar {

      li.active::after,
      li:hover::after {
        content: "";
        width: 40%;
        left: 8.5em;
      }
    }
  }

  @keyframes nav {
    from {
      left: 0;
    }

    to {
      left: 8.5em;
    }
  }
}

@media screen and (max-width: 375px) {
  .left-content {
    & .nav-bar {

      li.active::after,
      li:hover::after {

        left: 7.5em;
      }
    }
  }

  @keyframes nav {
    from {
      left: 0;
    }

    to {
      left: 7.5em;
    }
  }
}

@media (max-width:320px) {
  .left-content {
    & .nav-bar {

      li.active::after,
      li:hover::after {
        left: 6em;
      }
    }
  }

  @keyframes nav {
    from {
      left: 0;
    }

    to {
      left: 6em;
    }
  }
}